* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 40px;
  font-family: sans-serif;
}

table {
  background-color: lightgray;
  border: 1px solid black;
}

td, th {
  border: 1px solid black;
  width: 150px;
  text-align: center;
}

tbody:nth-child(odd) {
  background-color: darkgray;
}
tbody:nth-child(even) {
  background-color: lightgray;
}
